.App {
  text-align: center;
  width: auto;
}

.ui.main.container {
  margin-top: 6em;
  margin-bottom: 2em;
}

.main{
  min-height: 80vmin;
}

.ui.input > input {
  font-size: 1.2rem;
}

.ui.input > input:focus {
  color: rgba(41, 8, 73, 0.979) !important;
  opacity: .85;
  transition: all .1s ease-in;
}

.home-logo{ 
  margin-top: -2rem;
  margin-left: -20rem;
 }

 .home-text{
   margin-top: 3rem;
   margin-left: 0.5rem;
 }

 .text-color{
   color: rgba(196, 214, 36, 0.979);
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .description-color{
   color: rgba(91, 29, 153, 0.979);
   font-size: 1.2rem;
 }

.page-item.active .page-link {
  background: rgba(196, 214, 36, 0.979);
}

.segment-position{
  margin-left: -30rem;
  margin-top: 5rem;
}